---
import { DOMAIN_NAME } from '@constants/static_paths'
import { Picture } from 'astro:assets'
import Specs from './Specs.astro'
import type { Product } from '@t/productTypes'
import capitalizeFirstLetter from '@lib/capitalizeFirstLetter'

interface Props {
  id: string
  product: Product
  img: ImageMetadata
  category: string
  firstView: boolean
  dataAos: {}
}

const { id, product, img, dataAos, category, firstView } = Astro.props
---

<article {...dataAos} transition:name={`${product.category}-${id}`}>
  <Picture
    loading={firstView ? 'eager' : 'lazy'}
    src={img}
    formats={['avif', 'webp', 'jpeg']}
    alt={`${capitalizeFirstLetter(product.category)} ${product.name} | Fresh HidroJacuzz`}
    widths={[150, 300, 600]}
    sizes="(max-width: 600px) 150px, (max-width: 1200px) 300px, 600px"
    transition:name={`${product.category}-${product.id}-img`}
  />
  <div class="specs">
    <h1 transition:name={`${product.category}-${product.id}-title`}>
      {capitalizeFirstLetter(product.category)}
      {product.name}
    </h1>
    <Specs product={product} />
    <a
      href={`${DOMAIN_NAME}/producto/${category}/${id}`}
      transition:name={`${product.category}-${product.id}-btn`}>Descubre más</a
    >
  </div>
</article>
<style>
  article {
    font-size: 1.1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-dark);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  article:hover {
    transform: translateY(-30px);
  }

  picture {
    overflow: hidden;
    width: 300px;
    height: 300px;
  }

  img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  .specs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 10px;
    font-size: 1rem;
  }
  h1 {
    font-size: 1.4rem;
    color: var(--primary-dark);
  }

  a {
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition:
      background-color 0.3s ease,
      scale 0.3s ease;
  }

  a:hover {
    background-color: var(--primary-dark);
    scale: 1.05;
  }
  a:active {
    scale: 0.95;
  }

  @media (min-width: 800px) {
    article {
      flex-direction: row;
      min-width:;
      width: 48%;
      max-width: 650px;
      min-width: 550px;
    }
    .specs {
      padding: 0 3rem;
    }
  }
</style>
