---
import Layout from "@layout";
import products from "@hooks/products";

import ProductCard from "@components/products/ProductCard.astro";
import Banner from "@components/products/Banner.astro";

const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/products/Jacuzzi * - Fresh Jacuzzis.{jpeg,jpg,png,gif}",
);

export function getStaticPaths() {
    const ids = products.map((category) => category.category);
    const params = ids.map((category) => {
        return { params: { category } };
    });

    return [...params];
}

const { category } = Astro.params;

const categoryObject = products.filter(
    ({ category: id }) => id === category,
)[0];
---

<Layout title="Productos">
    <Banner
        data-category={{
            category: categoryObject.category,
            title: categoryObject.title,
            description: categoryObject.description,
        }}
    />

    <section>
        {
            categoryObject.products
                .filter(
                    ({ visibility, availability }) => visibility && availability,
                )
                .map(async (product, index) => {
                    const image =
                        await images[
                            `/src/assets/products/Jacuzzi ${product.name} - Fresh Jacuzzis.jpeg`
                        ]();

                    return (
                        <ProductCard
                            id={product.id}
                            category={category}
                            product={product}
                            img={image?.default}
                            dataAos={{
                                "data-aos": "fade-up",
                                "data-aos-delay": index * 100,
                            }}
                        />
                    );
                })
        }
    </section>
</Layout>
<style>
    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: space-around;
        margin: 20px auto;
    }
</style>
