---
import { Picture } from "astro:assets";
import photo from "@/assets/photo-jacuzzi-contact.jpg";
import { CONTACT_METHODS } from "@constants";
---

<section aria-labelledby="contact-heading">
    <Picture
        loading="lazy"
        src={photo}
        formats={["avif", "webp", "jpeg"]}
        alt="Imagen de la tienda"
        widths={[300, 600, 800]}
        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px, 800px"
        role="img"
        data-aos="fade-right"
    />
    <div data-aos="fade-left">
        <h2 id="contact-heading">Conéctate con Nosotros</h2>
        <ul>
            {
                CONTACT_METHODS.map(({ name, link, value }) => (
                    <li>
                        <strong>{name}:</strong>{" "}
                        <a href={link} aria-label={`Contáctanos via ${name}`}>
                            {value}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</section>
<style>
    section {
        overflow-x: hidden;
        display: flex;
        align-items: center;
        justify-content: right;
        gap: 5rem;
        position: relative;
        text-align: left;
    }
    div {
        display: block;
        position: absolute;
        left: 20px;
        color: #f4f4f4;
        background-color: #000000cc;
        list-style: none;
        font-size: large;
        padding: 4rem 2rem;
        max-width: 80vw;
    }
    img {
        width: 100%;
        height: 600px;
        object-fit: cover;
        object-position: bottom;
    }
    picture {
        width: 90%;
        height: 600px;
    }
    ul {
        list-style: none;
    }

    li {
        display: flex;
        flex-direction: column;
    }
    a {
        color: var(--secondary-light);
    }
    @media (min-width: 800px) {
        section {
            justify-content: left;
            max-width: 1200px;
            margin: auto;
        }
        div {
            left: 50%;
            right: 10%;
        }
        picture {
            width: 60%;
        }
    }
</style>
